section{
  min-height: 500px;
}
#section-title{
  text-align: center;
  margin-bottom: 10px;
}
#home-banner{
  background-image: url('../../assets/img/bg-homepage.png');
  padding-top: 60px;
  height: 680px;
}
#reason{
  color: white;
  background-color: var(--color-dark-blue);
  min-height: 450px;
  padding: 20px;
}
#testimoni img{
  border-radius: 400px;
  width:35%;
  min-width: 175px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
#mentor img{
  border-radius: 20px;
  width: 125px;
  margin-left: auto;
  margin-right: auto;
  float: left;
  margin: 15px;
}
#testimoni .grid-content{
  background-color: #EFEFEF;
  margin: 10px 24px;
  max-width: 350px;
  border-radius: 18px;
}
#mentor{
  display:inline-block;
  vertical-align:top;
}
#mentor .grid-content{
  border-radius: 18px;
}
#mentor h3{
  margin-bottom: 5px;
}
#mentor p{
  display:block;
  float: none;
}
#pendaftaran{
  background-image: url('../../assets/img/bg-decorative-darkblue.png');
}
#pendaftaran h2#section-title{
  margin-top: 0px;
}
