div.kotak1 {
	border: solid;
    padding: 30px;
    border-radius: 25px;
    margin: 50px 30%;
    background-color: white;
}

div.kotak2 {
	border-bottom: solid;
}

body {
	background-image: url("wallpapernya.png");
}

@media screen and (max-width:1000px){

	div{
		width: auto;
		float: none;
	}
}

input.awale {
	color : black;
	border-radius: 5px;
	padding: 7px 0px;
	border: 1px solid #C0C0C0;
	width: 50%;
	margin-bottom: 30px;
}

input.awale2 {
	color : black;
	border-radius: 5px;
	padding: 7px 0px;
	border: 1px solid #C0C0C0;
	width: 20%;
	margin-bottom: 30px;
}

select {
	color : black;
	border-radius: 5px;
	padding: 7px 0px;
	border: 1px solid #C0C0C0;
	width: 32%;
	margin-bottom: 30px;
}

h2 {
	text-align:center;
}

img {
	width: 20%;
	margin-left: 190px;
}

input.submit {
	border-radius: 10px;
	padding: 10px 20px;
	background-color: green;
	color: white;
}

input.submit:hover {
	background-color: #66ff66;
}

input.reset {
	border-radius: 10px;
	padding: 10px 20px;
	background-color: red;
	color: white;
}

input.reset:hover {
	background-color: #ff6666;
}